.house-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.house-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.house-card button {
    background-color: #088474;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.house-card button:hover {
    background-color: #066a62;
}
