/* HouseCards.css */

.house-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.house-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.house-card:hover {
    transform: scale(1.05);
}

.house-images {
    position: relative;
    overflow: hidden;
}

.house-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.house-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.house-location, .house-description {
    margin: 5px 0;
}

.booking-button {
    background-color: #088474;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

.booking-button:hover {
    background-color: #005f5f;
}
