.nav-link{
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  margin: 0 6px 6px;
  background: #066d61;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: white;
}

.nav-link.active {
  color: rgb(25, 223, 196);
}