.profile-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.profile-card {
    background-color: #115f64;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.profile-card:hover {
    transform: scale(1.05);
}

.profile-card p {
    color: #ddd;
}
.top-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
