/* TopNav.css */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0D3336; /* Same as the left nav background */
  padding: 10px;
  color: white;
}

.logo-container {
  flex: 1;
}

.logo {
  width: 50px;
  height: auto;
}

.app-name {
  flex: 2;
  text-align: center;
}

.search-bar-container {
  flex: 3;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.auth-buttons {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.login-btn, .signup-btn, .profile-btn {
  background-color: #fff;
  color: #088474;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-btn:hover, .signup-btn:hover, .profile-btn:hover {
  background-color: #f0f0f0;
}

.signup-btn {
  background-color: #005f5f;
  color: white;
}

.signup-btn:hover {
  background-color: #003f3f;
}
